:root {
  --swatch-black: #000000;
  --swatch-grey: #707070;
  --swatch-marine: #183b4f;
  --swatch-ocean: #066269;
  --swatch-orange: #ff5500;
  --swatch-orange-hover: #fc8038;
  --swatch-orange-hover-dark: #d15415;
  --swatch-white: #ffffff;
  --swatch-light-yellow: #e6d091;
}

* {
  box-sizing: border-box;
}

.feature-block {
  display: inline-block;
  padding: 35px 35px 0 35px;
  margin: 10px 0;
  border-radius: 4px;
  width: 100%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Arial';

  & > span {
    display: block;
    margin-bottom: 25px;
  }

  & > p {
    color: var(--swatch-grey);
    line-height: 32px;
    margin: 25px 0;
}

/* 3015 */

.image-wrapper {
  position: relative;
  width: 350px;
  aspect-ratio: 1 / 1;
  background-image: url("https://www.bilderberg.nl/media/original_images/2014/11/17/7107_achteraanzicht_hotel_kasteel_vaalsbroek.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://www.bilderberg.nl/media/original_images/2014/11/24/parkhotel_7575_hotelaanzicht.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
}

.image-wrapper:hover::after {
  opacity: 1;
}

/* 3016 */

.image-accordion-summary {
  display: inline-block;
  pointer-events: none;
  
  &:after {
    pointer-events: auto;
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-orange);
    transition: transform 0.4s ease-in-out;
  }
  
  &:hover::after {
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=3314&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=3314&format=png&color=000000');
    transform: rotate(180deg);
    }
}

/* 3017 */

.main-navigation {
  all: unset;
  
  &:after {
    transition: transform 0.3s ease;
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;      
    mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: var(--swatch-orange);
  }
  
  &:hover::after {
    transform: translateY(0.15rem);
  }
  
  &:active::after {
    transform: rotate(180deg) translateY(-0.15rem);
  }
}

/* 3018 */

.back-to-top {
  position: sticky;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  
  &:after {
    transition: transform 0.3s ease;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/ size=100&id=DP1dstogaujR&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=DP1dstogaujR&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-white);
  }
}

.back-to-top:hover {
  &::after {
    transform: translateY(-5px);
   }
}


/* 3019 */

.datepicker {
  all: unset;
  cursor: pointer;
}

.datepicker-previous::after,
.datepicker-next::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--swatch-orange);
  -webkit-mask-image: url('https://img.icons8.com/?size=100&id=85498&format=png&color=000000');
  mask-image: url('https://img.icons8.com/?size=100&id=85498&format=png&color=000000');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  transition: transform 0.5s ease;
}

.datepicker-previous::after {
  transform: rotate(0deg);
}

.datepicker-next::after {
  transform: rotate(180deg);
}

.datepicker-previous:hover::after {
  transform: rotate(0deg) translateX(-0.5rem);
}

.datepicker-next:hover::after {
  transform: rotate(180deg) translateX(-0.5rem);
}

/* 3020 */

.swiper {
  border: solid 2px var(--swatch-orange);
  background: none;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    background-color: var(--swatch-orange);
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=85498&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=85498&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  &:hover {
    border-color: var(--swatch-orange-hover);
  }

  &:hover::after {
    background-color: var(--swatch-orange-hover);
  }
}

.swiper-previous::after {
  transform: rotate(0deg);
}

.swiper-next::after {
  transform: rotate(180deg);
}

.swiper-previous:hover::after {
  transform: rotate(0deg) translateX(-0.1rem);
}

.swiper-next:hover::after {
  transform: rotate(180deg) translateX(-0.1rem);
}

/* 3021 */

.newsletter {
  background-color: var(--swatch-orange);
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  color: var(--swatch-white);
  
  &:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=86520&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=86520&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-white);
    transition: transform 0.3s ease;
  }
  
  &:hover {
    background-color: var(--swatch-orange-hover-dark);
  }
}

.newsletter:hover::after {
  animation: bounce 1s ease-out;
}

@keyframes bounce {
   0% { transform: translateX(0); }
   33% { transform: translateX(0.25rem); }
   66% { transform: translateX(-0.25rem); }
   100% { transform: translateX(0); }
}

/* 3022 */

.gallery-item {
  display: block;
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  border: none;
  cursor: pointer;
  
  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-white);
    transition: transform 0.3s ease-in-out;
  }
  
  &:hover::after {
    transform: scale(1.3);
  }
}

/* 3023 */

.heading-arrowed {
  font-family: 'Arial';
  display: inline-flex;
  align-items: center;
  color: var(--swatch-black);
  font-size: 20px;
    
  &:after {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=J1Ad3OTYKrUB&format=png&color=1A1A1A');
    mask-image: url('https://img.icons8.com/?size=100&id=J1Ad3OTYKrUB&format=png&color=1A1A1A');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-black);
    transition: margin 0.3s ease;
  }
  
  &:hover {
    color: var(--swatch-orange);
  }
  
  &:hover::after {
    background-color: var(--swatch-orange);
    margin-left: 14px;
  }
}

/* 3040 */

.hotel-navigation-item {
  font-family: 'Arial';
  background-color: var(--swatch-light-yellow);
  padding: 12px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-navigation-link {
  color: var(--swatch-orange);
  cursor: pointer;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--swatch-orange);
    transition: width 0.35s ease-out, left 0.35s ease-out;
  }
  
  &:hover::after {
    width: 100%;
    left: 0;
   }
}

/* Bookingmask hover dagen */

.datepicker-day {
  background-color: var(--swatch-marine);
  color: var(--swatch-orange);
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  transition: background-color 0.3s ease, color 0.3s ease;
  
  &:hover {
    color: var(--swatch-white);
    background-color: var(--swatch-orange);
  }
}

/* Bookingmask hover hotels */

.container {
  background: var(--swatch-ocean);
  width: 250px;
  padding: 20px 10px;
}

.options {
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

.hotel-selector {
  font-family: 'Arial';
  color: var(--swatch-white);
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid var(--swatch-white);
    border-radius: 50%;
    background: transparent;
    box-sizing: border-box;
  }
}

.hotel-selector:hover::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

/* Bookingmask sluitknop */

.date-picker-close-button {
  all: unset;
  
  &:after {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=95771&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=95771&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-orange);
    transition: background-color 0.3s ease;
  }
  
  &:hover:after {
    background-color: var(--swatch-white);
  }
}

/* Taalswitch */

.language-select {
  font-family: 'Arial';
  cursor: pointer;
  color: var(--swatch-black);
  display: inline-flex;       
  align-items: center;   
  gap: 0.25rem; 
  
  &:hover {
    color: var(--swatch-orange);
    text-decoration: underline;
  }
  
  &:after {
    transition: transform 0.3s ease;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;      
    mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: var(--swatch-orange);
    vertical-align: bottom;
    pointer-events: auto;
  }
  
  &:hover::after {
    transform: translateY(0.15rem);
  }
  
  &:active::after {
    transform: rotate(180deg) translateY(-0.15rem);
  }
}

.language-select-list {
  font-family: 'Arial';
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  width: 200px;
  border-radius: 0 0 10px 10px;
  margin: 10px 0 0 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.language-select:active + .language-select-list {
  opacity: 1;
  pointer-events: auto;
}

.language-select-option {
  padding: 14px;
  list-style: none;
  
  &:hover {
    background-color: var(--swatch-marine);
  }
}

.de {
  border-radius: 0 0 10px 10px;
}

/* Zooming in images */

.content-picture {
  aspect-ratio: 16 / 9;
  width: 500px;
  overflow: hidden;
  position: relative;
}

.content-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.bilderberg.nl/media/original_images/2014/11/17/7107_achteraanzicht_hotel_kasteel_vaalsbroek.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.content-picture:hover::before {
  transform: scale(1.1);
}
