:root {
  --swatch-orange: #ff5500;
}

/* 3015 */

.image-wrapper {
  position: relative;
  width: 350px;
  aspect-ratio: 1 / 1;
  background-image: url("https://www.bilderberg.nl/media/original_images/2014/11/17/7107_achteraanzicht_hotel_kasteel_vaalsbroek.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://www.bilderberg.nl/media/original_images/2014/11/24/parkhotel_7575_hotelaanzicht.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
}

.image-wrapper:hover::after {
  opacity: 1;
}

/* 3016 */

.image-accordion-summary {
  &:after {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    mask-image: url('https://img.icons8.com/?size=100&id=95779&format=png&color=1A1A1A');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--swatch-orange);
    transition: transform 0.4s ease-in-out;
  }
  
  &:hover::after {
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=3314&format=png&color=000000');
    mask-image: url('https://img.icons8.com/?size=100&id=3314&format=png&color=000000');
    transform: rotate(180deg);
    }
}

/* 3017 */

.main-navigation {
  all: unset;
  
  &:after {
    transition: transform 0.3s ease;
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;      
    mask-image: url('https://img.icons8.com/?size=100&id=85123&format=png&color=000000');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: var(--swatch-orange);
  }
  
  &:hover::after {
    transform: translateY(0.15rem);
  }
  
  &:active::after {
    transform: rotate(180deg) translateY(-0.15rem);
  }
}
